.card_container {
 height: 450px;
 width: 300px;
}

.card_container:hover {
    transition: 0.8s;
    scale: 1.06;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.card_image {
  height:250px;
  object-fit: cover;
  padding: 10px
}

.card_title {
    text-align: center;
    min-height: 64px;
}

.card_button_container {
    display: flex;
    justify-content: center;
}
